.vicon {
    margin-top: 2px;
}
.relative.btn:disabled,
button[disabled] {
    background-color: white;

}
html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }