.vicon {
    margin-top: 2px;
}
.relative.btn:disabled,
button[disabled] {
    background-color: white;

}
html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

.avatarc {
    background-color: #00a1a2;
    padding-top: 5px;
    padding-right: 1.5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    
}